.Disclaimer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.disclaimer-zone {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;   
    align-items: center;  
}

.disclaimer-pic-1 {
    background: url('../pictures/disclamer1.png');
    background-size: cover;
    width: 19%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.disclaimer-txt {
    width: 100%;
    margin: 45px auto 75px auto;
    text-align: center;
}

#disclaimer-txt-1 {
    margin-right: 15px;
    color: rgb(255, 136, 164);
}

#disclaimer-txt-2 {
    color: rgb(94, 94, 94);
}

.disclaimer-button-zone{
    width: 100%;
    display: flex;
    
}

.disclaimer-button {
    margin: auto;
    padding: 10px 20px;
    font-size: 16px; 
    background-color: rgb(255, 210, 220);
    color: white; 
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;  
    justify-content: center; 
    align-items: center;  
    transition: width 0.5s ease, opacity 0.3s ease; 
    width: 40px;         
    height: 40px;                   
    text-align: center;
}

.disclaimer-button span {
    display: none;
    transition: opacity 0.5s ease;
    margin-left: 15px;
}

.disclaimer-button:hover {
    width: 150px;   
    border-radius: 20px;   
    background-color: rgb(255, 171, 190);               
}

.disclaimer-button:hover span {
    display: block;
}
