.Home {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.home-zone {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;   
    align-items: center;  
}

.home-pic-1 {
    background: url('../pictures/home1.jpeg');
    background-size: cover;
    width: 28%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.home-txt {
    width: 100%;
    margin: -70px auto 75px auto;
    text-align: center;
}

#home-txt-1 {
    margin-right: 15px;
    color: rgb(255, 136, 164);
}

#home-txt-2 {
    color: rgb(94, 94, 94);
}

.home-button-zone{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    
}

.home-button {
    margin: auto;
    padding: 10px 20px;
    font-size: 16px; 
    background-color: rgb(255, 210, 220);
    color: white; 
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;  
    justify-content: center; 
    align-items: center;  
    transition: width 0.5s ease, opacity 0.3s ease; 
    width: 40px;         
    height: 40px;                   
    text-align: center;
}

.home-button span {
    display: none;
    transition: opacity 0.5s ease;
    margin-left: 15px;
}

.home-button:hover {
    width: 150px;   
    border-radius: 20px;   
    background-color: rgb(255, 171, 190);               
}

.home-button:hover span {
    display: block;
}
